<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @tweet.photourl %>
</p>

<p>
  <strong>Username:</strong>
  <%= @tweet.username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @tweet.likecount %>
</p>

<p>
  <strong>Retweets:</strong>
  <%= @tweet.retweetcount %>
</p>

<p>
  <strong>Creado hace:</strong>
  <%= @tweet.publicationdate %>
  <% if (Time.current - @tweet.created_at) / 1.minutes < 60 %> 
    minutos
  <%else%>
    horas
  <%end%>
</p>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @likes.each do |like| %>
    <tr>
      <td><%= like.photo %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', '/' %>
